@model TeacherViewModel

@{
    ViewData["Title"] = "Add Teacher";
}

<form method="post" asp-action="Add">
    <input asp-for="Teacher.Id" hidden /> 

    <div class="row">
        <div class="border p-3 mt-4 row">
            <div class="col-12 pb-2">
                <h2 class="text-primary">Add Teacher</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="Teacher.Name"></label>
                <input asp-for="Teacher.Name" class="form-control" />
                <span asp-validation-for="Teacher.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Teacher.LastName"></label>
                <input asp-for="Teacher.LastName" class="form-control" />
                <span asp-validation-for="Teacher.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Teacher.UserName"></label>
                <input asp-for="Teacher.UserName" class="form-control" />
                <span asp-validation-for="Teacher.UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Teacher.Password"></label>
                <input asp-for="Teacher.Password" class="form-control" />
                <span asp-validation-for="Teacher.Password" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Teacher.CourseId"></label>
                <select asp-for="Teacher.CourseId" asp-items="@Model.CourseList" class="form-select">
                    <option selected>--Select Course--</option>
                </select>
                <span asp-validation-for="Teacher.CourseId" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                <a asp-controller="Teacher" asp-action="Index" class="btn btn-danger" style="width:150px">Back to List</a>
            </div>
        </div>
    </div>
</form>

@*Client Side Validation*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
