@model Student

@{
    ViewData["Title"] = "Edit Student";
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                </div>
                @*<div asp-validation-summary="All"></div>*@

                <div class="mb-3">
                    <label asp-for="StudentNo"></label>
                    <input asp-for="StudentNo" class="form-control" />
                    <span asp-validation-for="StudentNo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-danger" style="width:150px">Update</button>
                    <a asp-controller="Student" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>

<br />
<br />
<br />

@*Client Side Validation*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
